body {
    font: 15px/1.5 Helvetica, Arial, Sans-serif;
    /*padding: 150px 0 0 0;*/
    margin: 0;
}

    body a {
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
    }
/*Global*/
.container {
    width: 1045px;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.column-2 {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    background-color: #ddb48d;
    height: 45px;
    width: 25%;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
}

    .button:hover {
        background-color: #ddb48d;
        opacity: 0.8;
    }

/*Header*/
header {
    background-color: #ffffff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .07);
    color: #253247;
    min-height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
}

/*header a {
        color: #253247;
        text-decoration: none;
    }

    header li {
        float: left;
        display: inline;
        padding: 0 20px 0 20px;
    }*/
/*TEST*/
ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

    ul li a {
        text-decoration: none;
        color: #253247;
    }
/*TEST*/
header i {
    float: right;
}

header .active {
    color: aqua;
}

header #logo {
    float: left;
}


header nav {
    float: right;
    margin-top: 29px;
}

header a:hover {
    color: #ddb48d;
}

.showing {
    display: block;
}

.toggle {
    display: none;  
}

.menu i .fa-bars:hover {
    color: #ddb48d;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
}
/*Index Global*/
.sectiontop {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #253247;
}

/*Index Showcase Section*/
#showcase {
    padding-top: 150px;
    margin: 0px 0 40px 0;
    text-align: center;
}

#parallax {
    background: url("../images/shoebg2.png") no-repeat fixed;
    background-position: 78% 10%;
    /*background-repeat: no-repeat;
    background-attachment: fixed;*/
}

.left-col {
    width: 40%;
}

.right-col {
    width: 60%;
}

/*Index Brands Section*/
#brands {
    background-color: #253247;
    min-height: 95px;
    /*margin-top: 40px;*/
    text-align: center;
}

    #brands h2 {
        display: inline-block;
        color: #ffffff;
        padding: 10px 20px 0 20px;
    }

/*Index Boxes Section*/
#boxes {
    text-align: center;
    background-color: #ffffff;
}

    #boxes #secondbox {
        margin: 0 5% 0 5%;
    }

    #boxes .box {
        width: 25%;
        text-align: center;
        display: inline-block;
        padding: 10px;
        border: 1px solid;
        border-color: #ddb48d;
    }

/*@media(max-width:1240px) {
    #boxes .box {
        width: 20%;
    }
}*/

/*Index Shop Section*/
#shop {
    text-align: center;
}

/*Media Query*/

@media screen and (max-width:1044px) {
    .container {
        width: 100%;
    }

    .left-col {
        width: 60%;
    }

    .right-col {
        width: 40%;
    }

    #logo {
        margin-left: 15px;
    }
}

@media screen and (max-width:720px) {
    .container {
        width: 90%
    }

    #logo {
        margin-left: 0;
    }

    .toggle {
        display: block;
    }

    ul {
        display: none;
    }

        ul li {
            width: 100%;
            text-align: center;
        }
}

@media screen and (max-width:640px) {
    #boxes .box {
        float: none;
        width: auto;
    }

    .container {
        width: 80%
    }

    #boxes #secondbox {
        margin: 3% 0 3% 0;
    }

    .left-col {
        width: 100%;
    }

    .right-col {
        width: 0;
    }

    #parallax {
        background: none;
    }
}
/*320*/

